saturn@ubuntu20:~/proj$ cat docker-compose.yml
version: '3'
services:
  service1:
    build: .
    ports:
      - "3000:3000"
    container_name: service1

  service2:
    build: ./weather-service
    ports:
      - "3001:3001"
    container_name: service2

  service3:
    build: ./info-sytem-service
    ports:
      - "3002:3002"
    container_name: service3

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - service1
      - service2
      - service3
