name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push Docker images
      run: |
        docker-compose build
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        docker-compose push

    - name: Deploy to Kubernetes
      uses: appleboy/kubernetes-action@master
      with:
        kube_config_data: ${{ secrets.KUBE_CONFIG_DATA }}
        namespace: saturn
        manifest_files: |
          ip-service/service1-deployment.yaml
          weather-service/service2-deployment.yaml
          info-sytem-service/service3-deployment.yaml
